*.npz
*.jld2

*.jl.*.cov
*.jl.cov
*.jl.mem
Manifest.toml
.DS_Store

papers/*/figures/
papers/*/data/
papers/*/.ipynb_checkpoints

validate/*/figures/
validate/*/data/
validate/*/.ipynb_checkpoints/

validate/ranktests/repeat/
validate/stochastic/8x8/
validate/kolmogorov/8x8/
validate/pointjet/8x8/
validate/pointjet/12x12/
validate/old/
